@import "tailwindcss";

@theme {
    /* Primary Colors */
    --color-primary-50: #f5f5f4;
    --color-primary-100: #e7e5e4;
    --color-primary-200: #d6d3d1;
    --color-primary-300: #a8a29e;
    --color-primary-400: #78716c;
    --color-primary-500: #57534e;
    --color-primary-600: #44403c;
    --color-primary-700: #292524;
    --color-primary-800: #1c1917;
    --color-primary-900: #0c0a09;
    --color-primary-950: #0a0807;

    /* Accent Colors */
    --color-accent-50: #ecfdf5;
    --color-accent-100: #d1fae5;
    --color-accent-200: #a7f3d0;
    --color-accent-300: #6ee7b7;
    --color-accent-400: #34d399;
    --color-accent-500: #10b981;
    --color-accent-600: #059669;
    --color-accent-700: #047857;
    --color-accent-800: #065f46;
    --color-accent-900: #064e3b;
    --color-accent-950: #022c22;
}

@layer components {
    .spinner {
        margin: 3.2rem auto 1.6rem;
        width: 60px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid theme("colors.primary.900");
        border-right-color: theme("colors.primary.200");
        animation: rotate 1s infinite linear;
    }

    .spinner-mini {
        margin: 0;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid theme("colors.primary.200");
        border-right-color: transparent;
        animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }
}

/* For data picker */

.rdp {
    --rdp-cell-size: 32px !important;
    --rdp-accent-color: theme("colors.accent.500") !important;
    --rdp-background-color: theme("colors.accent.600") !important;
    margin: 0 !important;
}
